#wrapper {
    margin-left: 36%;
    margin-top: 5%;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(231, 229, 229, 0.288);
    width: 500px;
    padding: 5px;
}

#border {
    border: dashed;
    border-width: 1px;
}